.detailsContainer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background: #4AC29A;  
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  
    background: linear-gradient(to top, #BDFFF3, #4AC29A); 
    height: 100%;
    width: 100%;
    align-items: center;
}

.backdrop {
    position: relative;
    height: 100%;
    max-width: 75%;
    border-radius: 2.5rem;
    margin-top: 15px;
}

.genreSection {
  h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
  }
  p {
    border: 2px solid blue;
    background-color: lightskyblue;
    margin: 5px;
    padding: 8px;
    border-radius: 5rem;
    font-size: 0.8em
  }
}

.backgroundContainer {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin: 55px;
    img {
        width: 30%;
        height: 20%;
        border-radius: 2.5rem;
    }
}

.read-more-link {
    color: blue;
    cursor: pointer;
    font-weight: bold;
  }
  
  .read-more-link:hover {
    text-decoration: underline;
  }

  .titleSection {
    max-width: 60%;
  }

  .textSection {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    font-size: 35px;
    max-width: 100;
  }

 
  
  .movieTitle {
    font-size: 3.5em; 
    text-align: center;
    margin-bottom: 1.25em;
  }
  
  .childrenText,
  .additionalText {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    max-width: 50%; 
  }

  .additionalText {
    margin-bottom: 120px;
  }
  
  .childrenText,
  .additionalText {
    flex: 1; 
    padding: 0 5%; 
  }

  .movie-trailer {
    width: 60%;
    height: 60vh;
  }

  .overview span {
    display: block;
    text-align: center;
  }

  @media (min-width: 822px) and (max-width: 1559px){
    .movie-trailer,
    .backdrop {
      width: 90%;
      margin-top: 45px;
      height: 60vh;
    }
    .backgroundContainer {
      display: flex;
      flex-wrap:unset;
      text-align: center;
      img{
        width: 40vw;
        height: 100vh;
      }
    }
    .textSection {
      display: flex;
      text-align: center;
    }
    .genreSection {
      h2 {
        font-size: 55px;
      }
    }
.additionalText {
  margin-bottom: 350px;
  text-align: center;
}

    .childrenText,
    .additionalText {
      font-size: 40px;
    }
    .movieTitle{
      text-align: center;
      font-size: 55px;
    }
  }

  @media (min-width: 436px) and (max-width: 821px){
    .movie-trailer,
    .backdrop {
      width: 90%;
      margin-top: 45px;
      height: 40vh;
    }
    .backgroundContainer {
      display: flex;
      flex-direction: column;
      img {
        width: 80%;
        height: 80%;
      }
    }
    .textSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .overview {
        font-size: 35px;
      }
    }
    .genreSection {
      h2 {
        font-size: 22px;
      }
    }
    .childrenText,
    .additionalText{
      font-size: 1em;
      text-align: center;
      align-items: center;
      display: flex;
    }
    .movieTitle{
      text-align: center;
      font-size: 55px;
    }
  }

  @media (min-width: 393px) and (max-width: 435px){
    .movie-trailer,
    .backdrop {
      width: 90%;
      margin-top: 45px;
      height: 30vh;
    }
    .backgroundContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      img{
        width: 75%;
        height: 40%;
      }
    }
    .textSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      .overview {
        font-size: 29px;
      }
    }
    .genreSection {
      h2 {
        font-size: 18px;
      }
    }
    .childrenText,
    .additionalText{
      display: flex;
      font-size: 30px;
      text-align: center;
      align-items: center;
    }
    .movieTitle{
      text-align: center;
    }
  }