.cardContainer {
   display: flex;
   flex-direction: column;
   max-width: 140px;
   max-height: 500px;
   border-radius: 5rem;
   margin: 45px;
   padding: 3%;
   justify-content: center;
   align-items: center;
   background-color: transparent;
   cursor: pointer;
   img {
    max-width: 390px;
    max-height: 400px;
    border-radius: 5rem;
    }
}

.posterContainer {
    height: 100%;
    width: 325px;
    font-size: 20px;
    text-wrap: none;
    color: black;
}

.title {
    font-size: 30px;
}

.rating,
.releaseDate {
    font-size: 25px;
}

.releaseDate {
    text-wrap: none;
}