.navLink {
    text-decoration: none;
}

.cardContainer {
   display: flex;
   flex-direction: column;
   max-width: 280px;
   max-height: 610px;
   border-radius: 2.5rem;
   margin: 45px;
   padding: 7%;
   align-items: center;
   background-color: transparent;
   cursor: pointer;
   img {
    max-width: 1000px;
    max-height: 400px;
    border-radius: 2.5rem;
    }
}

.posterContainer {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 350px;
    font-size: 20px;
    color: black;
}

.title {
    font-size: 35px;
}

.rating,
.releaseDate {
    font-size: 25px;
}

.releaseDate {
    text-wrap: none;
}