.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: #ADA996;  
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  
  background: linear-gradient(to middle, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
}

.search {
  position: absolute;
  top: 18%;
  right: 5%;
  .searchBar {
    width: 200px;
    height: 35px;
  }
}

