.App {
  text-align: center;
}

.App-header {
  background: #ADA996;  
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  
  background: linear-gradient(to middle, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); 

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
}


@media (max-width: 1559px){
  .App-header{
    min-height: 100vh;
  }
}

