.navContainer {
    display: flex;
    height: 7em;
    justify-content: space-between;
    font-size: 30px;
    font-family: cursive;
    background: #4AC29A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    align-items: center;
}
.headerContent {
    display: flex;
    align-items: center;
    gap: 25px; 
}

.tomatillo {
   width: 7%;
}

.home,
.ticket {
    width: 4em;
    height: 4em;
    margin: 50px;
    padding: 0;
}